.custom-nav {
  position: relative;
  height: 9vh;
  z-index: 999;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2em;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
  /* box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.7); */
}

.custom-nav mat-icon {
  text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
}

.custom-menu-icon {
  cursor: pointer;
  margin: 10px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background: whitesmoke;
  margin: 4px;
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.dashboard-container {
  /* min-height: 90vh; */
  /* width: 100vw; */
}

.menu-content-container{
  height: 91vh;
  display: flex;
  flex-direction: column;
}

.menu-content{
  flex: 1;
  /* height: 84vh; */
  /* padding: 10px;
  overflow: auto; */
}

.sidenav-menu {
  min-width: 250px;
}

.user-info{
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #3f51b5;
  color: whitesmoke;
}

.pull-left {
  float: left !important;
}

.image>img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

img {
  vertical-align: middle;
}

.info {
  text-transform: initial !important;
  letter-spacing: initial !important;
  box-shadow: unset !important;
  text-shadow: unset !important;
  margin-left: 10px;
}

.info>p {
  font: icon !important;
  padding: 2px;
  vertical-align: middle;
  margin-bottom: 1px !important;
}

/*
.info > span{
  font: menu !important;
  padding: 2px;
  margin: 1px !important;
}


.online{
  font-size: 11px !important;
  width: 14px !important;
  color: green;
}
*/
.side-menu-list {
  padding: 0px;
}

.menu-option:hover {
  background-color: #87e494;
  color: #fff;
}
.active {
  background-color: #5cc05d;
  color: #fff;
}
.custom-footer {
  z-index: 999;
  background-color: #3f51b5;
  color:whitesmoke;
  text-align: center;
  text-shadow: 0px 1px 1px rgb(0 0 0 / 30%);
  padding: 10px 0px;
}
.custom-footer p{
  margin: 0px !important;
}
