.custom-nav {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.7em;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.7);
    text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
  }

  .custom-nav mat-icon{
    text-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
  }

.dashboard-container{
    height: 100vh;
    width: 100vw;
}

.sidenav-menu{
  min-width: 250px;
}

.pull-left {
  float: left !important;
}
.image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

img {
  vertical-align: middle;
}

.info{
  text-transform: initial !important;
  letter-spacing: initial !important;
  box-shadow: unset !important;
  text-shadow: unset !important;
  margin-top: 20px;
  margin-left: 10px;
}

.info > p{
  font: icon !important;
  padding: 2px;
  margin-bottom: 1px !important;
}

.info > span{
  font: menu !important;
  padding: 2px;
  margin: 1px !important;
}


.online{
  font-size: 11px !important;
  width: 14px !important;
  color: green;
}