.image-box{
    width: 90vw;
    min-height: 80vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-box img{
    width: 30vw;
    min-height: 40vh;
}