.model-details-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 15px;
    min-height: 80vh; 
}

.model-details-card{
    margin: 15px;
}

.model-details-card img{
    width: 250px
}

.model-details-card mat-card-content, .model-details-card mat-card-actions{
    display: flex;
    justify-content: center;
}