<section class="config-container">

    <div class="model-details-container">
        <mat-card class="model-details-card"
            *ngFor="let model of (modelList | async |slice: lowValue : highValue); let i=index">
            <img *ngIf="i%2 != 0" mat-card-image src="../../../../assets/images/config.jpg" alt="Photo of a config">
            <img *ngIf="i%2 == 0" mat-card-image src="../../../../assets/images/SeatBelt_GIF.gif" alt="GIF of a config">
            <mat-card-content>
                <p>{{model.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button *ngIf="i%2 != 0" mat-raised-button color="primary" (click)="onAddModule(i)">Add</button>
                <button *ngIf="i%2 == 0" mat-raised-button color="accent" (click)="onAddModule(i)">Edit</button>
            </mat-card-actions>
        </mat-card>

    </div>

    <mat-paginator [length]="totalDataCount" pageSize="5" (page)="getPaginatorData($event)"
        [pageSizeOptions]="[2,5,10]" showFirstLastButtons="false">
    </mat-paginator>
</section>