.config-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.model-details-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 15px;
    /* height: 80%; */
}

.model-details-card{
    margin: 15px;
}

.model-details-card img{
    width: 250px;
    height: 200px;
}

.model-details-card mat-card-content, .model-details-card mat-card-actions{
    display: flex;
    justify-content: center;
}